#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Nexumia Server
Comment=Start the Nexumia Server
Exec=/home/deck/Projects/LocalGameGalaxy/server/dist/start-server.sh
Icon=utilities-terminal
Terminal=true
Categories=Game;Network;
